# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
*.gcno
*test
*rapidjson
*.vscode
*cfdistutilities
*CharacteristicFunctions
*nelder_mead
*FangOost
*FFTOptionPricing
*FunctionalUtilities
*RungeKutta
*AutoDiff
*BSImpliedVolatility
*TupleUtilities
*GaussNewton
*HullWhite
*.gcda
levyfunctions
*.o
*.DS_Store
*MonteCarlo
*cuckoo_search
releases
src/calculator
src/calibrator
bin